* {
	font-family: "微软雅黑", "Microsoft YaHei";
}

.longyouji-txt {
	color: rgb(215, 24, 32);
	font-size: 18px;
	font-weight: bold;
}

.longyoujixie-en-txt {
	text-transform: uppercase;
}

.logo-txt {
	margin-top: 15px;
	font-weight: bold;
}

.vertical-solid {
	border: none;
	border-left-width: medium;
	border-left-style: none;
	border-left-color: currentcolor;
	border-left: 1px solid #cccccc;
	width: 0;
	height: 70px;
	padding: 0 6px;
}

.wpline-wrapper {
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
}
.tel{
	color: rgb(215, 24, 32);
	font-size: 18px;
	margin-top: 40px;
}
.navbar{
	margin-top: 10px;
	margin-bottom: 0px;
}
.navbar-default{
	background-image: linear-gradient(to bottom,#fff 0,#e1e1e1 100%);
}
.navbar-nav{
	width: 100%;
}
.navbar-nav li{
	width: 14.2857%;
	text-align: center;
}
.img-txt{
	margin-top: 39px;
}
.img-txt .read-more{
	text-align: right;
	color: #a61c00;
	font-weight: bold;
	font-size: 15px;
}
.headline-redline{
	width: 55%;
	margin-bottom: 17px;
	height: 0;
	border: none;
	border-top: 3px solid #cc0000;
}
.foot{
	background-color: #4A4A4A;
	min-height: 200px;
}
.foot-left{
	text-align: center;
}
.foot-left img{
	width: 80%;
	margin: auto;
	margin-top: 20px;
}
.makeworldeasy{
	color: white;
	font-weight: bold;
}
.foot-vertical-line{
	width: 0;
	height: 200px;
	border: none;
	border-left: 1px solid #1E1E1E;
	border-right: 1px solid #747474;
	margin: 20px 0;
}
.foot-right{
	margin-top: 30px;
}

.foot-right .header{
	color: white;
	font-size: 16px;
}
.foot-right  ul{
	padding-left: 0px;
	margin-top: 20px;
	list-style: none;
	color: #B6D9B6;
}
.foot-right  li a:link{
	color: #B6D9B6;
}

.foot-right  li a:hover{
	color: #ff9900;
}
.tel{
	color: white;
	font-size: 20px;
	font-style: italic;
	margin-top: 15px;
}
.tel i{
	font-size: 45px;
}

